<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe Form</title>
</head>
<body>
      <form method="post">
        {% csrf_token %}
          {% for field in form %}
          <div class="subscribe_field">
              {{field.errors}}
              {{field.label_tag}}
              {{field}}

          </div>
          {% endfor%}

<!--        <div class="subscribe_field">-->
<!--          {{ form.first_name.errors }}-->
<!--          <label for="{{form.first_name.id_for_label}}">{{form.first_name.label}}</label>-->
<!--          {{ form.first_name }}-->
<!--      </div>-->

<!--      <div class="subscribe_field">-->
<!--        {{ form.last_name.errors }}-->
<!--          <label for="{{form.last_name.id_for_label}}">{{form.last_name.label}}</label>-->
<!--          {{ form.last_name }}-->
<!--      </div>-->

<!--      <div class="subscribe_field">-->
<!--        {{ form.email.errors }}-->
<!--          <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>-->
<!--          {{ form.email }}-->
<!--      </div>-->

        {% comment %} {{form.as_ul}}
        <input type="submit" value="Submit"> {% endcomment %}

        <!-- {% csrf_token %}

        {% if email_error_empty %}
            <p>{{ email_error_empty }}</p>
        {% endif %}

        <label for="f_name">First Name</label>
        <input type="text" id="f_name" name="firstname" placeholder="Your First Name" required>
        <br>
        <label for="l_name">Last Name</label>
        <input type="text" id="l_name" name="lastname" placeholder="Your Last Name" required>
        <br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Your Email" required>
        <br>
         -->
        <input type="submit" value="Submit">

      </form>

</body>
</html>
